
{% extends "base.html" %}
{% load static %}

{% block content %}
  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Mentors</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="50">
            <div class="swiper-wrapper">
            {% for mentor in mentor %}
              <div class="swiper-slide">
              <div class="col-lg-10 col-md-10 d-flex align-items-stretch">
                <div class="member">
                  <img src="{{mentor.image.url}}" class="img-fluid" alt="" style="height: 250px;">
                  <div class="member-content">
                    <h4>{{mentor.firstname}}  {{mentor.lastname}}</h4>
                    <span>{{mentor.course}}</span>
                    <p>
                      Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                    </p>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% comment %} <div class="swiper-slide">
              <div class="col-lg-10 col-md-10 d-flex align-items-stretch">
                <div class="member">
                  <img src="{% static 'img/trainers/trainer-2.jpg' %}" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4>Sarah Jhinson</h4>
                    <span>Marketing</span>
                    <p>
                      Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                    </p>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div> {% endcomment %}
{% comment %} 
            <div class="swiper-slide">
              <div class="col-lg-10 col-md-10 d-flex align-items-stretch">
                <div class="member">
                  <img src="{% static 'img/trainers/trainer-3.jpg' %}" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4>William Anderson</h4>
                    <span>Content</span>
                    <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div> {% endcomment %}

            </div>
          </div>

       

        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->

  {% endblock content %}