
{% extends "base.html" %}
{% load static %}

{% block content %}
  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Mentors</h2>
        <p>List of all mentors that  have enrolled to take mentees through the various courses. </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="50">
            <div class="swiper-wrapper">
            {% for mentor in coursementor %}
              <div class="swiper-slide">
              <div class="col-lg-10 col-md-10 d-flex align-items-stretch">
                <div class="member">
                  <img src="{{mentor.user.image.url}}" class="img-fluid" alt="" style="height: 250px;">
                  <div class="member-content">
                    <h4>{{mentor.user.firstname}}  {{mentor.user.lastname}}</h4>
                    <span>{{mentor.course}}</span>
                    <p>
                     {{mentor.user.bio}}
                    </p>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            

            </div>
          </div>

       

        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->

  {% endblock content %}