{% extends "base.html" %}
{% load static %}
{% block content %}

<section class=" bg-image gradient-custom-3" style="background-image: url('https://media.istockphoto.com/id/1269086548/vector/smart-home-web-development-and-design-of-blueprints-create-a-digital-drawing-on-a-laptop.jpg?s=1024x1024&w=is&k=20&c=SuvhPLolqlGS7CwilIEjdHnCyVfQxbdz51VrhfPkhc0='); background-repeat: no-repeat; background-size: cover;" >
    <div class=" mask container-fluid h-100  d-flex justify-content-center gradient-custom-3">
        <div class="card mt-3  " style="width: auto">
            <div class="card-body">
              <h4 class="text-uppercase text-center card-title">Login to account</h4>
              
                <h3 class=" mb-4"></h3>
                <form method="post">
              {% csrf_token %}
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input type="text" id="loginName" class="form-control" name="username" placeholder="Username"required autofocus  />
                    </div>
              
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                      <input type="password" id="loginPassword" class="form-control" name="password" placeholder="password" required />
                    </div>
              
                    <!-- 2 column grid layout -->
                    <div class="row mb-4">
                      <div class="col-md-6 d-flex justify-content-center">
                        <!-- Checkbox -->
                      </div>
              
                      {% comment %} <div class="col-md d-flex justify-content-center">
                        <!-- Simple link -->
                        <a href="#!">Forgot password?</a>
                      </div> {% endcomment %}
                    </div>
                    {% for field in login_form %}
                    <p>
                        {% for error in field.errors %}
                            <p style="color: red">{{error}}</p>
                        {% endfor %}
                    </p>
                    {% endfor %}
                {% if login_form.non_field_errors %}
                    <div style="color: red">
                        <p>{{login_form.non_field_errors}}</p>
                    </div>
                {% endif %}
                    <!-- Submit button -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-block mb-4">Sign in</button>
              
        
                    </div>
                   
                    <!-- Register buttons -->
                    <div class="text-center">
                      <p>Not a member? <a href="{% url "register" %}">Register</a></p>
                    </div>
                  </form>
              </div>
    
            </div>
      
           
    </div>
</section>

{% endblock content %}
