
{% extends "base.html" %}

{% load static %}
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
{% block content %}



<section class=" bg-image" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFdSAVjV1RJpYIF2y6hZ1qMwfBkg1HSY0klQ&usqp=CAU');background-repeat: no-repeat; background-size: cover;" >
  <div class="mask d-flex mt-3 align-items-center gradient-custom-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center ">
        <div class="col-md-5">
          <div class="card h-100 " style="border-radius: 15px;">
            <div class="card-body">
              <h4 class="text-uppercase text-center mb-3">Create an account</h4>
              <p class="text-center"><a href="{% url "index" %}" class="text-success  text-decoration-none mb-2">back to home</a></p>

              <form action="" method="post" role="form" class="php-email-form">
                {% csrf_token %}
                <div class="row">
                  
                  <div class="mb-4 col-md-6">
                    <input type="text" id="form3Example1cg" name="username" placeholder="Username" class="form-control form-control" required autofocus />
                    
                  </div>
                  <div class="mb-4 col-md-6">
                    <input type="text" id="form3Example1cg" name="firstname" placeholder="First Name" class="form-control form-control" required />
                    
                  </div>
  
                  <div class="mb-4 col-md-6">
                    <input type="text" id="form3Example1cg" name="lastname" placeholder="Last Name" class="form-control form-control" required />
                    
                  </div>
                  <div class="mb-4 col-md-6">
                    <input type="text" id="form3Example1cg" name="phone" placeholder="Phone Number" class="form-control form-control" required />
                    
                  </div>
                  <div class="mb-4 col-md-12">
                    <input type="email" id="form3Example1cg" name="email" placeholder="Email Address" class="form-control form-control" required />
                    
                  </div>
                  {% comment %} <div class="mb-4 col-md-6">
                    <select class="form-select" id="field" name="course">
                     <option selected>Field of Experience</option>
                     {% for course in course %}
                     <option value="{{course.id}}">{{course.title}}</option>
                     {% endfor %}
                   </select> {% endcomment %}
                {% comment %} </div> {% endcomment %}
  
                  {% comment %} <div class="mb-3 col-md-12">
                    <select class="form-select" id="experience" name="experience">
                     <option selected>Experience Period</option>
                     <option value="1-6m">None</option>
                     <option value="1-6m">1-6 months</option>
                     <option value="6-12m">6-12 months</option>
                     <option value="1-3y">1-3 years</option>
                     <option value="above 4y">above 4 years</option>
                   </select>
                </div> {% endcomment %}
  
                <p class="form-radio col-md-4">Your Interest?</p>
                  <div class="form-radio col-md-3">
                    <input class="form-check-input me-2" type="radio" value="mentor" id="mentor" name="interest" />
                    <label class="form-check-label" for="mentor">Mentor</label>
                  </div>
                  <div class="form-radio mb-3 col-md-3">
                    <input class="form-check-input me-2" type="radio" value="mentee" id="mentee" name="interest" />
                    <label class="form-check-label" for="mentee" >Mentee</label>
                  </div>
                  <div class="mb-4 col-md-12">
                    <input type="password" id="form3Example1cg" name="password1" placeholder="Password" class="form-control form-control" required />
                    
                  </div>
  
                  <div class="mb-4 col-md-12">
                    <input type="password" id="form3Example1cg" name="password2" placeholder="Repeat password" class="form-control form-control" required />
                    
                  </div>
                 
                 <div class="h-25 ">
                  {% for field in registration_form %}
                  <p>
                      {% for error in field.errors %}
                          <p style="color: red">{{error}}</p>
                      {% endfor %}
                  </p>
  
              {% if registration_form.non_field_errors %}
                  <div style="color: red">
                      <p>{{registration_form.non_field_errors}}</p>
                  </div>
              {% endif %}
              {% endfor %}

                  <div class="d-flex justify-content-center">
                    <button type="submit"
                      class="btn btn-success btn-block ">Register</button>
                  </div>
  
                  <p class="text-center text-muted mt-2 ">Have already an account? <a href="{% url "login" %}"class="fw-bold text-success"><u>Login here</u></a></p>
  
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
    {% for message in messages %}
    <script>
      Swal.fire({
        "text":"{{message}}",
        "icon":"success"
      });
    </script>
    {% endfor %}
{% endif %}

</section>
{% endblock content %}